<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Valida robo</title>
    <script src="../Controller/base.js"></script>
    <style media="screen">
      #div1{
        background-color: #666;
        color: #fff;
      }
    </style>
    <script type="text/javascript">

      //Configurações do Robô
      var x = 10;
      var y = 20;
      var a = 2;           //Aceleração
      var vm = 2.6;        //Velocidade Média

    </script>
  </head>
  <body>
    <h1>Valida Robo</h1>
    <hr>
    <input type="button" value="Validar Robô" onclick="validaRobo(x, y, a, vm)">
    <div id="div1">
      Informações Robô...
    </div>
    <hr>
  </body>
</html>
